In [1]:
import pandas as pd
import numpy as np

movies=pd.read_csv('movies.csv')
actors=pd.read_csv('actors.csv')
countries=pd.read_csv('countries.csv')
crew=pd.read_csv('crew.csv')
genre=pd.read_csv('genres.csv')
languages=pd.read_csv('languages.csv')
themes=pd.read_csv('themes.csv')

In [2]:
movies

,id,name,date,tagline,description,minute,rating
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09
...,...,...,...,...,...,...,...
941592,1941593,神笛,NaN,NaN,NaN,NaN,NaN
941593,1941594,蟲極道蜜団子抗争編 壱ノ巻,NaN,NaN,Shinjuku forest at night. In the sap taverns o...,30.0,NaN
941594,1941595,蟲極道蜜団子抗争編 弐ノ巻,NaN,NaN,"The city that never sleeps, where insects gath...",30.0,NaN
941595,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN
941596,1941597,青ひげ公の城,NaN,NaN,NaN,130.0,NaN

In [3]:
print(actors.shape)
actors.head()

(5798450, 3)

        id               name    role
0  1000001      Margot Robbie  Barbie
1  1000001       Ryan Gosling     Ken
2  1000001    America Ferrera  Gloria
3  1000001  Ariana Greenblatt   Sasha
4  1000001           Issa Rae  Barbie

In [4]:
actors=actors.groupby('id').agg({'name':list,'role':list}).reset_index()

In [5]:
actors.head()

,id,name,role
0,1000001,"[Margot Robbie, Ryan Gosling, America Ferrera,...","[Barbie, Ken, Gloria, Sasha, Barbie, Barbie, B..."
1,1000002,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...","[Kim Ki-taek, Park Dong-ik, Yeon-kyo, Ki-woo, ..."
2,1000003,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Ja...","[Evelyn Wang, Waymond Wang, Joy Wang / Jobu Tu..."
3,1000004,"[Edward Norton, Brad Pitt, Helena Bonham Carte...","[Narrator, Tyler Durden, Marla Singer, Robert ..."
4,1000005,"[Ryan Gosling, Emma Stone, John Legend, Rosema...","[Sebastian, Mia, Keith, Laura, Bill, Famous Ac..."

In [6]:
actors.shape

(634302, 3)

In [7]:
countries=countries.groupby('id').agg({'country':list}).reset_index()

In [8]:
print(countries.shape)
countries.head()

(617192, 2)

        id           country
0  1000001         [UK, USA]
1  1000002     [South Korea]
2  1000003             [USA]
3  1000004    [Germany, USA]
4  1000005  [Hong Kong, USA]

In [9]:
crew.head()

        id      role            name
0  1000001  Director    Greta Gerwig
1  1000001  Producer    Tom Ackerley
2  1000001  Producer   Margot Robbie
3  1000001  Producer  Robbie Brenner
4  1000001  Producer    David Heyman

In [10]:
crew=crew.groupby('id').agg({'role':list,'name':list}).reset_index()

In [11]:
crew.head()

,id,role,name
0,1000001,"[Director, Producer, Producer, Producer, Produ...","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro..."
1,1000002,"[Director, Producer, Producer, Producer, Produ...","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M..."
2,1000003,"[Director, Director, Producer, Producer, Produ...","[Daniel Scheinert, Daniel Kwan, Joe Russo, Ant..."
3,1000004,"[Director, Producer, Producer, Producer, Produ...","[David Fincher, Ross Grayson Bell, Ceán Chaffi..."
4,1000005,"[Director, Producer, Producer, Producer, Produ...","[Damien Chazelle, Jordan Horowitz, Fred Berger..."

In [12]:
genre.head()

        id      genre
0  1000001     Comedy
1  1000001  Adventure
2  1000002     Comedy
3  1000002   Thriller
4  1000002      Drama

In [13]:
genre=genre.groupby('id').agg({'genre':list}).reset_index()

In [14]:
genre.head()

        id                                         genre
0  1000001                           [Comedy, Adventure]
1  1000002                     [Comedy, Thriller, Drama]
2  1000003  [Science Fiction, Adventure, Comedy, Action]
3  1000004                                       [Drama]
4  1000005               [Drama, Comedy, Music, Romance]

In [15]:
languages.drop('type',axis=1,inplace=True)

In [16]:
languages=languages.groupby('id').agg({'language':list}).reset_index()

In [17]:
languages.head()

        id                                language
0  1000001                               [English]
1  1000002       [Korean, English, German, Korean]
2  1000003  [English, Cantonese, Chinese, English]
3  1000004                               [English]
4  1000005                               [English]

In [18]:
themes.head()

        id                                              theme
0  1000001                   Humanity and the world around us
1  1000001                             Crude humor and satire
2  1000001                        Moving relationship stories
3  1000001     Emotional and captivating fantasy storytelling
4  1000001  Surreal and thought-provoking visions of life ...

In [19]:
themes

             id                                              theme
0       1000001                   Humanity and the world around us
1       1000001                             Crude humor and satire
2       1000001                        Moving relationship stories
3       1000001     Emotional and captivating fantasy storytelling
4       1000001  Surreal and thought-provoking visions of life ...
...         ...                                                ...
125636  1835643                         Noir and dark crime dramas
125637  1835643        Intriguing and suspenseful murder mysteries
125638  1849827                                 Faith and religion
125639  1849827                       Faith and spiritual journeys
125640  1849827              Religious faith, sin, and forgiveness

[125641 rows x 2 columns]

In [20]:
movies=movies.merge(actors,on='id',how='inner')

In [21]:
movies

,id,name_x,date,tagline,description,minute,rating,name_y,role
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera,...","[Barbie, Ken, Gloria, Sasha, Barbie, Barbie, B..."
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...","[Kim Ki-taek, Park Dong-ik, Yeon-kyo, Ki-woo, ..."
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Ja...","[Evelyn Wang, Waymond Wang, Joy Wang / Jobu Tu..."
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27,"[Edward Norton, Brad Pitt, Helena Bonham Carte...","[Narrator, Tyler Durden, Marla Singer, Robert ..."
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09,"[Ryan Gosling, Emma Stone, John Legend, Rosema...","[Sebastian, Mia, Keith, Laura, Bill, Famous Ac..."
...,...,...,...,...,...,...,...,...,...
634297,1941559,你谁啊,NaN,NaN,NaN,67.0,NaN,[黑灯],[黑灯]
634298,1941563,数到三,NaN,NaN,NaN,NaN,NaN,"[Kara Wai Ying-Hung, Zhang Youhao, Pan Binlong...","[nan, nan, nan, nan, nan, nan]"
634299,1941589,末日审判,NaN,NaN,NaN,63.0,NaN,[王军锋],[校园吉他手]
634300,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN,"[Nick Cheung, Ethan Juan, Sandrine Pinna, Marc...","[Zhang Yao/张耀, An Du/安渡, nan, Ba Cai/巴莱, Tata/..."
634301,1941597,青ひげ公の城,NaN,NaN,NaN,130.0,NaN,"[Hiroshi Mikami, Keiko Oginome]","[nan, nan]"

In [44]:
movies.rename(columns={'name_x':'name','name_y':'actors'},inplace=True)

In [46]:
movies=movies.merge(countries,on='id',how='inner')

In [48]:
movies

,id,name,date,tagline,description,minute,rating,actors,role,country
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera,...","[Barbie, Ken, Gloria, Sasha, Barbie, Barbie, B...","[UK, USA]"
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...","[Kim Ki-taek, Park Dong-ik, Yeon-kyo, Ki-woo, ...",[South Korea]
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Ja...","[Evelyn Wang, Waymond Wang, Joy Wang / Jobu Tu...",[USA]
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27,"[Edward Norton, Brad Pitt, Helena Bonham Carte...","[Narrator, Tyler Durden, Marla Singer, Robert ...","[Germany, USA]"
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09,"[Ryan Gosling, Emma Stone, John Legend, Rosema...","[Sebastian, Mia, Keith, Laura, Bill, Famous Ac...","[Hong Kong, USA]"
...,...,...,...,...,...,...,...,...,...,...
486288,1941559,你谁啊,NaN,NaN,NaN,67.0,NaN,[黑灯],[黑灯],[China]
486289,1941563,数到三,NaN,NaN,NaN,NaN,NaN,"[Kara Wai Ying-Hung, Zhang Youhao, Pan Binlong...","[nan, nan, nan, nan, nan, nan]",[China]
486290,1941589,末日审判,NaN,NaN,NaN,63.0,NaN,[王军锋],[校园吉他手],[China]
486291,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN,"[Nick Cheung, Ethan Juan, Sandrine Pinna, Marc...","[Zhang Yao/张耀, An Du/安渡, nan, Ba Cai/巴莱, Tata/...",[China]
486292,1941597,青ひげ公の城,NaN,NaN,NaN,130.0,NaN,"[Hiroshi Mikami, Keiko Oginome]","[nan, nan]",[Japan]

In [50]:
movies=movies.merge(crew,on='id',how='inner')

In [52]:
movies

,id,name_x,date,tagline,description,minute,rating,actors,role_x,country,role_y,name_y
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera,...","[Barbie, Ken, Gloria, Sasha, Barbie, Barbie, B...","[UK, USA]","[Director, Producer, Producer, Producer, Produ...","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro..."
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...","[Kim Ki-taek, Park Dong-ik, Yeon-kyo, Ki-woo, ...",[South Korea],"[Director, Producer, Producer, Producer, Produ...","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M..."
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Ja...","[Evelyn Wang, Waymond Wang, Joy Wang / Jobu Tu...",[USA],"[Director, Director, Producer, Producer, Produ...","[Daniel Scheinert, Daniel Kwan, Joe Russo, Ant..."
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27,"[Edward Norton, Brad Pitt, Helena Bonham Carte...","[Narrator, Tyler Durden, Marla Singer, Robert ...","[Germany, USA]","[Director, Producer, Producer, Producer, Produ...","[David Fincher, Ross Grayson Bell, Ceán Chaffi..."
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09,"[Ryan Gosling, Emma Stone, John Legend, Rosema...","[Sebastian, Mia, Keith, Laura, Bill, Famous Ac...","[Hong Kong, USA]","[Director, Producer, Producer, Producer, Produ...","[Damien Chazelle, Jordan Horowitz, Fred Berger..."
...,...,...,...,...,...,...,...,...,...,...,...,...
468357,1941535,wolves,NaN,wolves,"Naji), (Makram), and (Ezzat) are three friends...",113.0,NaN,"[Farid Shawqi, Nour El-Sherif, Shwikar, Poussi...","[صابر سليم, ناجي عبد الدايم, زوجة صابر, هند ال...",[Egypt],"[Cinematography, Cinematography]","[Adel Sadeq, Sherif Hamouda]"
468358,1941549,موش في ثنيتي,NaN,NaN,NaN,70.0,NaN,"[Bilel Slatnia, Kaouther Dhaouadi, Mohamed Say...","[nan, nan, nan, nan, nan, nan, nan]",[Tunisia],[Director],[Nabil Barkati]
468359,1941563,数到三,NaN,NaN,NaN,NaN,NaN,"[Kara Wai Ying-Hung, Zhang Youhao, Pan Binlong...","[nan, nan, nan, nan, nan, nan]",[China],[Director],[Lin Sun]
468360,1941589,末日审判,NaN,NaN,NaN,63.0,NaN,[王军锋],[校园吉他手],[China],[Director],[田磊]
468361,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN,"[Nick Cheung, Ethan Juan, Sandrine Pinna, Marc...","[Zhang Yao/张耀, An Du/安渡, nan, Ba Cai/巴莱, Tata/...",[China],"[Director, Producer, Writer, Writer, Writer, C...","[Marc Ma, 朱子亮, Marc Ma, Haoran Gu, Zhao Haozhe..."

In [56]:
movies.rename(columns={'role_x':'actors_role','name_x':'name','name_y':'crew_name','role_y':'crew'},inplace=True)

In [58]:
movies=movies.merge(genre,on='id',how='inner')

In [62]:
movies=movies.merge(languages,on='id',how='inner')

In [64]:
movies

,id,name,date,tagline,description,minute,rating,actors,actors_role,country,crew,crew_name,genre,language
0,1000001,Barbie,2023.0,She's everything. He's just Ken.,Barbie and Ken are having the time of their li...,114.0,3.86,"[Margot Robbie, Ryan Gosling, America Ferrera,...","[Barbie, Ken, Gloria, Sasha, Barbie, Barbie, B...","[UK, USA]","[Director, Producer, Producer, Producer, Produ...","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro...","[Comedy, Adventure]",[English]
1,1000002,Parasite,2019.0,Act like you own the place.,"All unemployed, Ki-taek's family takes peculia...",133.0,4.56,"[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...","[Kim Ki-taek, Park Dong-ik, Yeon-kyo, Ki-woo, ...",[South Korea],"[Director, Producer, Producer, Producer, Produ...","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M...","[Comedy, Thriller, Drama]","[Korean, English, German, Korean]"
2,1000003,Everything Everywhere All at Once,2022.0,The universe is so much bigger than you realize.,An aging Chinese immigrant is swept up in an i...,140.0,4.30,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Ja...","[Evelyn Wang, Waymond Wang, Joy Wang / Jobu Tu...",[USA],"[Director, Director, Producer, Producer, Produ...","[Daniel Scheinert, Daniel Kwan, Joe Russo, Ant...","[Science Fiction, Adventure, Comedy, Action]","[English, Cantonese, Chinese, English]"
3,1000004,Fight Club,1999.0,Mischief. Mayhem. Soap.,A ticking-time-bomb insomniac and a slippery s...,139.0,4.27,"[Edward Norton, Brad Pitt, Helena Bonham Carte...","[Narrator, Tyler Durden, Marla Singer, Robert ...","[Germany, USA]","[Director, Producer, Producer, Producer, Produ...","[David Fincher, Ross Grayson Bell, Ceán Chaffi...",[Drama],[English]
4,1000005,La La Land,2016.0,Here's to the fools who dream.,"Mia, an aspiring actress, serves lattes to mov...",129.0,4.09,"[Ryan Gosling, Emma Stone, John Legend, Rosema...","[Sebastian, Mia, Keith, Laura, Bill, Famous Ac...","[Hong Kong, USA]","[Director, Producer, Producer, Producer, Produ...","[Damien Chazelle, Jordan Horowitz, Fred Berger...","[Drama, Comedy, Music, Romance]",[English]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416568,1941522,The Walls Are Talking,NaN,"Is having it all, worth losing everything?",THE WALLS ARE TALKING is about a woman who has...,119.0,NaN,"[Tamika Shannon, Jamey Maurice Clay, Beliria S...","[Jessie, Daniel Whitfield, Elise Whitfield, Nu...",[USA],"[Director, Writer, Cinematography, Executive p...","[Miche Collins, Kim Grant, Cesar Arguile, Kim ...","[Horror, Thriller]",[English]
416569,1941532,Within Frames: Us in Different Worlds,NaN,NaN,Elle and Vince received an unexpected and dist...,20.0,NaN,"[Belle Francisco, Kaloy Estrella]","[Elle, Vince]",[Philippines],"[Director, Producer, Writer, Casting, Editor, ...","[Jasper Tan, Jasper Tan, Jasper Tan, Camille A...","[Romance, Drama]",[English]
416570,1941534,Wolfgang (Extraordinario),NaN,NaN,NaN,NaN,NaN,"[Jordi Catalán, Miki Esparbé, Àngels Gonyalons...","[Wolfgang, Carles, nan, nan, nan, nan]",[Spain],"[Director, Writer, Writer, Writer, Writer, Ori...","[Javier Ruiz Caldera, Laia Aguilar, Carmen Mar...",[Family],[Catalan]
416571,1941563,数到三,NaN,NaN,NaN,NaN,NaN,"[Kara Wai Ying-Hung, Zhang Youhao, Pan Binlong...","[nan, nan, nan, nan, nan, nan]",[China],[Director],[Lin Sun],[Drama],[Chinese]
416572,1941596,重生,NaN,NaN,"In a world where order has broken down, darkne...",NaN,NaN,"[Nick Cheung, Ethan Juan, Sandrine Pinna, Marc...","[Zhang Yao/张耀, An Du/安渡, nan, Ba Cai/巴莱, Tata/...",[China],"[Director, Producer, Writer, Writer, Writer, C...","[Marc Ma, 朱子亮, Marc Ma, Haoran Gu, Zhao Haozhe...","[Action, Crime]",[Chinese]

In [66]:
movies.isnull().sum()

id                  0
name                1
date             9439
tagline        324350
description     54616
minute          44702
rating         335400
actors              0
actors_role         0
country             0
crew                0
crew_name           0
genre               0
language            0
dtype: int64

In [71]:
movies=movies[['id','name','date','description','actors','actors_role','crew','crew_name','genre']]

In [73]:
movies

,id,name,date,description,actors,actors_role,crew,crew_name,genre
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,"[Margot Robbie, Ryan Gosling, America Ferrera,...","[Barbie, Ken, Gloria, Sasha, Barbie, Barbie, B...","[Director, Producer, Producer, Producer, Produ...","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro...","[Comedy, Adventure]"
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...","[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...","[Kim Ki-taek, Park Dong-ik, Yeon-kyo, Ki-woo, ...","[Director, Producer, Producer, Producer, Produ...","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M...","[Comedy, Thriller, Drama]"
2,1000003,Everything Everywhere All at Once,2022.0,An aging Chinese immigrant is swept up in an i...,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Ja...","[Evelyn Wang, Waymond Wang, Joy Wang / Jobu Tu...","[Director, Director, Producer, Producer, Produ...","[Daniel Scheinert, Daniel Kwan, Joe Russo, Ant...","[Science Fiction, Adventure, Comedy, Action]"
3,1000004,Fight Club,1999.0,A ticking-time-bomb insomniac and a slippery s...,"[Edward Norton, Brad Pitt, Helena Bonham Carte...","[Narrator, Tyler Durden, Marla Singer, Robert ...","[Director, Producer, Producer, Producer, Produ...","[David Fincher, Ross Grayson Bell, Ceán Chaffi...",[Drama]
4,1000005,La La Land,2016.0,"Mia, an aspiring actress, serves lattes to mov...","[Ryan Gosling, Emma Stone, John Legend, Rosema...","[Sebastian, Mia, Keith, Laura, Bill, Famous Ac...","[Director, Producer, Producer, Producer, Produ...","[Damien Chazelle, Jordan Horowitz, Fred Berger...","[Drama, Comedy, Music, Romance]"
...,...,...,...,...,...,...,...,...,...
416568,1941522,The Walls Are Talking,NaN,THE WALLS ARE TALKING is about a woman who has...,"[Tamika Shannon, Jamey Maurice Clay, Beliria S...","[Jessie, Daniel Whitfield, Elise Whitfield, Nu...","[Director, Writer, Cinematography, Executive p...","[Miche Collins, Kim Grant, Cesar Arguile, Kim ...","[Horror, Thriller]"
416569,1941532,Within Frames: Us in Different Worlds,NaN,Elle and Vince received an unexpected and dist...,"[Belle Francisco, Kaloy Estrella]","[Elle, Vince]","[Director, Producer, Writer, Casting, Editor, ...","[Jasper Tan, Jasper Tan, Jasper Tan, Camille A...","[Romance, Drama]"
416570,1941534,Wolfgang (Extraordinario),NaN,NaN,"[Jordi Catalán, Miki Esparbé, Àngels Gonyalons...","[Wolfgang, Carles, nan, nan, nan, nan]","[Director, Writer, Writer, Writer, Writer, Ori...","[Javier Ruiz Caldera, Laia Aguilar, Carmen Mar...",[Family]
416571,1941563,数到三,NaN,NaN,"[Kara Wai Ying-Hung, Zhang Youhao, Pan Binlong...","[nan, nan, nan, nan, nan, nan]",[Director],[Lin Sun],[Drama]
416572,1941596,重生,NaN,"In a world where order has broken down, darkne...","[Nick Cheung, Ethan Juan, Sandrine Pinna, Marc...","[Zhang Yao/张耀, An Du/安渡, nan, Ba Cai/巴莱, Tata/...","[Director, Producer, Writer, Writer, Writer, C...","[Marc Ma, 朱子亮, Marc Ma, Haoran Gu, Zhao Haozhe...","[Action, Crime]"

In [76]:
movies.dropna(inplace=True)

C:\Users\M.Saiteja\AppData\Local\Temp\ipykernel_13588\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [78]:
movies

,id,name,date,description,actors,actors_role,crew,crew_name,genre
0,1000001,Barbie,2023.0,Barbie and Ken are having the time of their li...,"[Margot Robbie, Ryan Gosling, America Ferrera,...","[Barbie, Ken, Gloria, Sasha, Barbie, Barbie, B...","[Director, Producer, Producer, Producer, Produ...","[Greta Gerwig, Tom Ackerley, Margot Robbie, Ro...","[Comedy, Adventure]"
1,1000002,Parasite,2019.0,"All unemployed, Ki-taek's family takes peculia...","[Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch...","[Kim Ki-taek, Park Dong-ik, Yeon-kyo, Ki-woo, ...","[Director, Producer, Producer, Producer, Produ...","[Bong Joon-ho, Jang Young-hwan, Kwak Sin-ae, M...","[Comedy, Thriller, Drama]"
2,1000003,Everything Everywhere All at Once,2022.0,An aging Chinese immigrant is swept up in an i...,"[Michelle Yeoh, Ke Huy Quan, Stephanie Hsu, Ja...","[Evelyn Wang, Waymond Wang, Joy Wang / Jobu Tu...","[Director, Director, Producer, Producer, Produ...","[Daniel Scheinert, Daniel Kwan, Joe Russo, Ant...","[Science Fiction, Adventure, Comedy, Action]"
3,1000004,Fight Club,1999.0,A ticking-time-bomb insomniac and a slippery s...,"[Edward Norton, Brad Pitt, Helena Bonham Carte...","[Narrator, Tyler Durden, Marla Singer, Robert ...","[Director, Producer, Producer, Producer, Produ...","[David Fincher, Ross Grayson Bell, Ceán Chaffi...",[Drama]
4,1000005,La La Land,2016.0,"Mia, an aspiring actress, serves lattes to mov...","[Ryan Gosling, Emma Stone, John Legend, Rosema...","[Sebastian, Mia, Keith, Laura, Bill, Famous Ac...","[Director, Producer, Producer, Producer, Produ...","[Damien Chazelle, Jordan Horowitz, Fred Berger...","[Drama, Comedy, Music, Romance]"
...,...,...,...,...,...,...,...,...,...
416433,1940952,Horror Night,1938.0,Chinese horror movie from 1938.,"[Yiu Kwang-Chao, Gongshang Yan, Gong Qiuxia, Z...","[nan, nan, nan, nan, nan, nan]","[Director, Writer]","[吴村, 吴村]",[Horror]
416434,1940956,Horror Night,1929.0,Chinese horror movie from 1929.,[Wu Su-Xin],[nan],"[Director, Writer]","[Zhang Huimin, Jianchen Gu]",[Horror]
416436,1940964,The Spendthrift,1915.0,A remarkable six-part adaptation of a sensatio...,"[Irene Fenwick, Cyril Keightley, Malcolm Dunca...","[Frances Ward, Richard Ward, Monty Ward, Phil ...","[Director, Writer, Costume design]","[Walter Edwin, Porter Emerson Browne, Lady Duf...",[Drama]
416437,1940966,De lefvande dödas klubb,1914.0,The suicidal gambler Tom Haget receives an inv...,"[William Larsson, Carl Barcklind, Hedvig Nenzé...","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[Director, Writer, Story, Cinematography]","[Carl Barcklind, Carl Barcklind, Robert Louis ...",[Drama]
416438,1940968,I klädloge och på scen,1908.0,Miss Inga Berentz dresses up for the entrance....,"[Inga Berentz, Axel Ringvall]","[nan, nan]",[Cinematography],[Otto Bökman],[Comedy]